html,body {
  background-color: rgb(0, 0, 0);
  border: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0; 
  min-width:300px  
}

header {
  color: #7209B7;
  margin-top: 25px;
  margin-left: 45px;
  font-family: 'Cabin' , 
  'Incosolata', sans-serif;
  font-size: large;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 45px;
}

a {
  color: #7209B7;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}
.intro {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  max-height: 700px
}

.profile {
  height: auto;
  width: 10%;
  object-fit: cover;
  object-position: center top;
  align-items: center;
  align-items: center;
  margin-left: 45%;
  margin-top: 10%;
  border-radius: 50%;

}

.intropas {
  display: grid;
  grid-template-rows: 0.4fr 1.1fr;
  text-align: center;
  color:white ;
  width: 30%;
  margin-left: 35%;
  font-family: 'Cabin',sans-serif;
  font-size: medium;

}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 15px;
  width: 20%;
  margin-top: 3%;
  margin-left: 40%;
}
.socialimage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #7209B7;
  border: #7209B7 1px;
}
.socialimage:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}
.skills {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 25px;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 70px;
  margin-top: 65px;
}


.logo {
  background-color: rgb(18, 12, 34);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 55px;
  margin-left: 25px;
}

.skillabt {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.heading {
  font-family: 'Cabin', sans-serif;
  font-size: x-large;
  margin-top: 8%;
}

.skillinfo {
  font-family: 'Cabin', sans-serif;
  font-size: medium;
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
  text-align: left;
  margin-right: 30px;
}

.skillsblock:hover {
  transform: scale(1.06);
  transition: transform 0.3s ease;  
  box-shadow: 0px 0px 4px #ffffff;
}

.skillsblock {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100%;
  background-color: rgb(18, 12, 34);
  border-radius: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 500px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
  margin-top: 65px;
  gap: 70px
}

.projectcard {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  background-color: rgb(18, 12, 34);
  border-radius: 20px;
}
.projectcard:hover {
  transform: scale(1.07);
  transition: all 0.3s ease;
}

.projectimage {
  width: 85%;
  height: 85%;
  border-radius: 20px;
  margin-left: 7.5%;
  margin-top: 10%;
} 
.projectname {
  font-family: 'Cabin',sans-serif;
  font-size: x-large;
  color:white;
  margin-top: 5%;
  text-align: center;
}
.projectinfo {
  color: white;
  font-family: 'Cabin',sans-serif;
  font-size: large;
  text-align: center;
  margin-top: 4%;  
}
.contacts {
  display: grid;
  font-family: 'Cabin',sans-serif;
  grid-template-rows: 2fr 2fr 1fr;
  width: 30%;
  margin-left:35% ;
  font-size: small;
  padding-bottom: 275px;
}
.mail,.phone {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}