html,body {
  background-color: rgb(0, 0, 0);
  border: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;  
}

header {
  color: #ea1811;
  margin-top: 25px;
  margin-left: 45px;
  font-family: 'Cabin' , 
  'Incosolata', sans-serif;
  font-size: large;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 45px;
}

a {
  color: #ea1811;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

#profile {
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: center top;
  align-items: center;
  margin-left: 48%;
  margin-top: 80px;
  border-radius: 50%;
  border: #ea1811 2px solid;

}

h1{
  color: white;
  margin-left: 44%;
  font-family: 'Delius',sans-serif;
  font-size: xx-large;
}

.intro1,.intro2,.intro3 {
  font-family: 'Delius' , sans-serif;
  font-size: large;
  color: white;
  margin-left: 35%;
  margin-right: 30%;

}
.intro1, .intro2,.intro3 {
  margin-bottom: 0;
  margin-top: 0;
}

