html,body {
  background-color: rgb(0, 0, 0);
  border: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;  
}

header {
  color: #ea1811;
  margin-top: 25px;
  margin-left: 45px;
  font-family: 'Cabin' , 
  'Incosolata', sans-serif;
  font-size: large;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 45px;
}

a {
  color: #ea1811;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

#profile {
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: center top;
  align-items: center;
  margin-left: 45.5%;
  margin-top: 75px;
  border-radius: 50%;
  border: #ea1811 2px solid;

}


.intro1,.intro2,.intro3 {
  font-family: 'Delius' , sans-serif;
  font-size: large;
  color: white;
  margin-left: 33%;
  margin-right: 30%;

}
.intro1, .intro2,.intro3 {
  margin-bottom: 0;
  margin-top: 0;
}

.about {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 25px;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 70px;
  margin-top: 65px;
}

.aboutblock {
  display: flex;
  flex-direction: row;
  background-color: rgb(18, 12, 34);
  border-radius: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 500px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 65px;
  gap: 70px
}


.projectcard {
  background-color: rgb(18, 12, 34);
  border-radius: 20px;
}